<form [formGroup]="formGroup()">
  <div class="grid gap-4 grid-cols-2">
    @for (field of config(); track trackByKey($index, field)) {
      <z-form-field [class]="getColSpanClass(field)">
        <z-form-label [zRequired]="field.required ?? false">{{ field.label }}</z-form-label>
        <z-form-control>
          @switch (field.type) {
            @case ('select') {
              <z-select
                [formControlName]="field.key"
                [zPlaceholder]="field.placeholder || 'Select an option'"
              >
                @for (opt of getFieldOptions(field); track opt.value) {
                  <z-select-item [zValue]="opt.value">{{ opt.label }}</z-select-item>
                }
              </z-select>
            }

            @case ('checkbox') {
              <span 
                z-checkbox
                [formControlName]="field.key"
              ></span>
            }

            @case ('radio') {
              <div class="flex gap-3">
                @for (opt of getFieldOptions(field); track opt.value) {
                  <span z-radio [name]="opt.label" [value]="opt.value" [formControlName]="field.key">{{ opt.label }}</span>
                }
              </div>
            }

            @case ('switch') {
              <z-switch [formControlName]="field.key" /> 
            }

            @case ('textarea') {
              <textarea
                z-input
                [formControlName]="field.key"
                [placeholder]="field.placeholder || ''"
                class="min-h-[80px]"
              ></textarea>
            }

            @case ('date') {
              <z-date-picker
                class="w-full"
                [placeholder]="field.placeholder || ''"
                [formControlName]="field.key"
              />
            }

            @default {
              <z-input-group [class]="'w-full'">
                <input
                  z-input
                  [type]="field.type === 'number' ? 'number' : 'text'"
                  [formControlName]="field.key"
                  [placeholder]="field.placeholder || ''"
                  [min]="field.min"
                  [max]="field.max"
                  [step]="field.step"
                />
              </z-input-group>
            }
          }
        </z-form-control>
        <z-form-message />
      </z-form-field>
    }
  </div>
</form>
